/*Комбинированный селектор - применяется ко всем элементам*/ 
header, footer, aside, body, .navbar, .video-container {
    font-family: "Helvetica 65 Medium", sans-serif;
}
/* Простые селекторы*/
.video-container {
    display: inline-block;
    padding-left: 1%;
    padding-top: 2%;
}
/*Глобальные стили для хедеров на всём сайте*/
header {
    color: black;
    padding-left: 1%;
    padding-top: 1.2%;
}
/*Стиль хедера для главной страницы имеет приоритет,
так как используется селектор по идентификатору*/
#header-index {
    color: #44453f;
}
/* Стили футера */
footer {
    position: absolute;
    bottom: 0;
    font-size: medium;
    color: dimgrey;
    line-height: 66%;
    padding-left: 1%;
}

aside {
    height: 100%; /* Высота в полный размер. Этот параметр можно убрать, если вы хотите выставлять высоту автоматически */
    width: 11%;
    position: absolute; /* Фиксированная позиция сайд-бара. Так он будет оставаться на месте при скроллинге */
    z-index: 1; /* Сайд-бар будет поверх остальных элементов */
    top: 0; /* Сайдбар будет в самой верхней части страницы */
    left: 0;
    background-color: #111; /* Черный цвет фона (задан в виде кода) */
    overflow-x: hidden; /* Отключаем горизонтальную прокрутку */
    padding-top: 2%;
    font-size: large;
}

body {
    padding-left: 11%;
}
/*Стиль подсветки поискового поля*/
.find a:hover {
    border-style: solid;
    border-width: 5px;
    border-color: red;
}
/* Стили панели навигации */
.navbar p {
    color: gray;
    padding-left: 10%;
}
/*Стили панели навигации при наведении мышью на ссылки боковой панели*/ 
.navbar p:hover {
    color: aliceblue;
}
/* Фон всех элементов страницы, кроме сайдбара*/
header, footer, body, .video-container {
    background-color: lightpink;
}


